<template>
    <el-row type="flex" justify="center" class="mb">
        <el-col :span="8">
            Введите ссылку Авито для парсинга
        </el-col>
    </el-row>
    <el-row type="flex" justify="center">
        <el-col :span="9">
            <el-input
            class="mb"
                placeholder="Введите ссылку Авито"
                v-model="inputUrl"
                clearable>
            </el-input>
            <p class="mb">Количество страниц для парсинга</p>
            <el-input
                class="mb"
                    placeholder="Количество страниц"
                    v-model="inputCount"
                    clearable>
            </el-input>
            <el-button 
                v-show="validInput"
                @click="startParse"
                type="primary">
                    Начать парсинг
            </el-button>
        </el-col>
    </el-row>
</template>

<script>
import { io } from 'socket.io-client';
import {mapGetters, mapActions} from 'vuex';
export default {
    name: 'StartParse',
    data: () => ({
        inputUrl: 'https://www.avito.ru/sankt-peterburg/koshki/poroda-meyn-kun-ASgBAgICAUSoA5IV',
        inputCount: '3',
    }),
    computed: {
        ...mapGetters('parse', {
            messAll: 'getMessAll',
        }),
        validInput(){
            if(this.inputUrl.trim().length &&  this.inputUrl.includes('avito.ru') && this.inputCount.length){
                return true;
            }
            return false;
        },
    },
    watch: {
        messAll: {
            handler(){
                if(this.messAll.length){
                    for(let i = 0; i < this.messAll.length; i++){
                        this.$notify({
                            title: this.messAll[i].title,
                            message:  this.messAll[i].text,
                            type: this.messAll[i].type,
                            duration: 0,
                        });
                        this.messAll.splice(i, 1);
                    }
                }
            },
            deep: true,
        }
    },
    methods: {
        ...mapActions('parse', {
            addMess: 'SOCKET_message',
        }),
        async startParse(){
            let dataForm = {
                url: this.inputUrl,
                maxPage: this.inputCount,
            };
            let responce = await fetch('http://localhost:3001/api/parse/start', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify(dataForm),
            });
            if(responce.ok){
                let objResponce = await responce.json();
                if(objResponce.status){
                    this.$notify({
                            title: objResponce.title,
                            message:  objResponce.text,
                            type: objResponce.type,
                            duration: 0,
                        });
                }else{
                    
                }
            }
        }
    },
    created(){
        const socket = io('http://localhost:3001');
        socket.on('customEmit', msg => console.log(msg));
        socket.on('message',  this.addMess);
    }
}
</script>

<style scoped>
.mb {
    margin-bottom: 5px;
}

</style>